.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.animals {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.animalForm {
    padding: 0 30px;
}

.icon--dog {
    width: 50px;
    height: 50px;
}
